{% extends 'base.html' %}
{% block title %} Actualizar Estudiante {% endblock %}
{% block content %}

<div class="columns is-centered">
  <div class="column is-6">
    <h3 class="title is-4">Actualizar estudiante</h3>

    <form action="{{ url_for('update_estudiante', no_control=estudiante.no_control) }}" method="POST">

      <div class="field">
        <label class="label" for="nombre">Nombre:</label>
        <div class="control">
          <input class="input" type="text" id="nombre" name="nombre" value="{{ estudiante.nombre }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="ap_paterno">Apellido Paterno:</label>
        <div class="control">
          <input class="input" type="text" id="ap_paterno" name="ap_paterno" value="{{ estudiante.ap_paterno }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="ap_materno">Apellido Materno:</label>
        <div class="control">
          <input class="input" type="text" id="ap_materno" name="ap_materno" value="{{ estudiante.ap_materno }}" required>
        </div>
      </div>

      <div class="field">
        <label class="label" for="semestre">Semestre:</label>
        <div class="control">
          <input class="input" type="number" id="semestre" name="semestre" value="{{ estudiante.semestre }}" required>
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="button is-primary">Actualizar</button>
        <a href="{{ url_for('index') }}" class="button is-light">Cancelar</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}